<aside class="sidebar" role="complementary">
  <div id="fav_post">
    <ul>
      <li><a href="#">あああ</a></li>
      <li><a href="#">いいい</a></li>
      <li><a href="#">ううう</a></li>
    </ul>
  </div>
</aside>
